<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'main.html' %}

    {% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <p>Are you sure you want to delete "{{obj.title}}"?</p>
        <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
        <input type="submit" value="confirm">

    </form>
    {% endblock %}

</body>

</html>