<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'main.html' %}

    {% block content %}

    {% if page == "login" %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter Username">

            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter Password">

            <input type="submit" value="Login">
        </form>

        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign up</a>
    </div>

    {% else %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}

            {{form.as_p}}
            <input type="submit" value="Register">
            <p>Already signed up?</p>
            <a href="{% url 'login'%}">Sign in</a>
        </form>
    </div>
    {% endif %}

    {% endblock %}
</body>

</html>